---
title: The League of Sexual Anarchy
description: All the things that Charlie Kirk fears
keywords: Hijab, head covering, table legs, face covering, 
ishomepage: true
---
<section class="intro">
    <figure class="intro__article article">
        <blockquote cite="https://twitter.com/charliekirk11/status/1493031341922738177?t=CO0x9m_P6l1HE50sJXhmYQ&s=09">
            <p>The NFL is now the league of sexual anarchy. This halftime show should not be allowed on television.</p>
            <cite>Charlie Kirk on Twitter</cite>
        </blockquote>
    </figure>
    <section class="members">
        <h1 class="members__title">Members of the League</h1>
        <article class="article members__member member">
            <h2 class="member__name">Michael Harriot<sup><a href="#footnote-1">*</a></sup></h2>
            <p>A writer of words and board-certified wypipologist.</p>
            <p>Mr. Harriot is a professional with intricate knowledge of sexual anarchy and its detrimental effects on the likes of individuals named Charles whose last name rhyme with "what the firk?"</p>

            <figure class="member__figure">
                <blockquote class="member__figureQuote" cite="https://twitter.com/michaelharriot/status/1493052006478581763?s=20&t=xpklzKBmALP5Bp33JV_czg">
                    <p>There were more Black people dancing onstage in the #SuperBowl halftime show than the combined number of Black head
                    coaches, GMs and team presidents in NFL history.
                    </p>
                    <p>
                        Not that I was counting. I didn’t even watch. I’m just guessing there was more than 24 Black people dancing.
                    </p>
                </blockquote>
                <figcaption class="member__figureCaption">
                    <span class="member__figureQuoteAuthor">Michael Harriot</span> <cite class="member__figureQuoteSource">Twitter</cite>
                </figcaption>
            </figure>
            <footer class="member__meta">
                <h3>Learn more about the LoSA's first member:</h3>
                <ul>
                    <li>
                        <a href="https://www.michaelharriot.com/">
                          Mr. Harriot's personal website
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/michaelharriot">
                        Twitter
                        </a>
                    </li>
                </ul>
            </footer>
        </article>
    <footer class="members__footer">
        <small id="#footnote-1">
            <sup>*</sup> Unofficial as of this moment, but we'd love to change that. 
        </small>
    </footer>
    </section>
</section>
<footer class="g-main__footer">
    <h2>Want to join?</h2>
    <p>Email us: membership[at]league-of-sexual-anarchy.com</p>
</footer>